/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
        display: flex;
    }

    .menu-dashboard{
        display: flex;
        flex-direction: column;
        background-color: #000235;
        height: 640px;
        width: 25%;
        padding: 2% 4%;
        font-family: 'Roboto', sans-serif;
        color: #FAF9FF;
        position: fixed
    }

    .menu-dashboard a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FAF9FF;
    }

    .menu-dashboard img{
        margin-right: 10%;
    }

    .menu-dashboard .principal-menu img:hover{
        width: 26px;
    }

    .menu-dashboard .importante-menu img:hover{
        width: 26px;
    }

    .principal-menu{
        height: 85%;
    }

    .principal-menu a{
        margin-top: 50px;
    }

    .importante-menu a{
        margin-top: 10px;
    }

    .principal-menu a p:hover{
        border-bottom: 2px solid #FFFA86;
        font-weight: bold;
    }

    .itens-perfil{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-left: 30%;
        font-size: 13px;
        color: #8181D7;
    }

    .importante-menu a p:hover{
        font-weight: bold;
    }

    /* .home-item-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    } */

    .dashboards{
        background-color: #FAF9FF;
        width: 80%;
    }